<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.steelparrot.freedecibel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_free_decibel_round"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_free_decibel_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreeDecibel">
        <activity android:name=".activities.DownloadLaterActivity"
            android:label="Download Later"
            android:parentActivityName=".activities.MainActivity">
        </activity>
        <activity
            android:name=".activities.YTItemActivity"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>